<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>

<%-- Add content controls here --%>
<asp:Content ID="Content1" runat="server" contentplaceholderid="ContentPlaceHolder1">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="auto-style3">
<p align="center" dir="rtl" style="font-size: x-large; font-family: '2  Homa';">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #000066">&#1576;&#1607; &#1587;&#1575;&#1740;&#1578; &#1583;&#1576;&#1587;&#1578;&#1575;&#1606; &#1606;&#1587;&#1604; &#1602;&#1604;&#1605; &#1582;&#1608;&#1588; &#1570;&#1605;&#1583;&#1740;&#1583;</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</p>
<p>
    &nbsp;</p>
<p style="text-align: center">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img alt="" src="images/IMG_8224.jpg" style="width: 461px; height: 307px" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
<p align="right" class="auto-style36" dir="rtl" style="font-family: &quot;2  Homa&quot;; color: #FFFFFF; font-size: medium">
    &nbsp;&nbsp; &#1583;&#1576;&#1587;&#1578;&#1575;&#1606; &#1606;&#1587;&#1604; &#1602;&#1604;&#1605; &#1578;&#1608;&#1587;&#1591; 
    &#1570;&#1602;&#1575;&#1740; &#1605;&#1581;&#1605;&#1583; &#1578;&#1740;&#1605;&#1608;&#1585; &#1586;&#1575;&#1583;&#1607; &#1608;&#1575;&#1602;&#1593; &#1583;&#1585; &#1582;&#1740;&#1575;&#1576;&#1575;&#1606; &#1588;&#1607;&#1740;&#1583; &#1576;&#1607;&#1588;&#1578;&#1740; &#1606;&#1585;&#1587;&#1740;&#1583;&#1607; &#1576;&#1607; &#1662;&#1604; &#1602;&#1608;&#1740;&#1608;&#1606;&nbsp; &#1580;&#1606;&#1576; &#1570;&#1662;&#1575;&#1585;&#1578;&#1605;&#1575;&#1606; &#1570;&#1585;&#1740;&#1575; &#1583;&#1585; &#1587;&#1575;&#1604; 1384 &#1575;&#1601;&#1578;&#1578;&#1575;&#1581; &#1711;&#1585;&#1583;&#1740;&#1583;&#1607; &#1575;&#1587;&#1578;.</p>
    <p align="right" class="auto-style36" dir="rtl" style="font-family: &quot;2  Homa&quot;; color: #FFFFFF; font-size: medium">
        &nbsp;&nbsp; &#1608; &#1607;&#1605; &#1575;&#1740;&#1606;&#1705; &#1583;&#1575;&#1585;&#1575;&#1740; 2 &#1588;&#1593;&#1576;&#1607; &#1583;&#1585; &#1575;&#1585;&#1608;&#1605;&#1740;&#1607; &#1605;&#1740; &#1576;&#1575;&#1588;&#1583;. &#1583;&#1585; &#1591;&#1740; &#1670;&#1606;&#1583;&#1740;&#1606; &#1587;&#1575;&#1604; &#1705;&#1607; &#1575;&#1586; &#1575;&#1601;&#1578;&#1578;&#1575;&#1581; &#1575;&#1740;&#1606; &#1570;&#1605;&#1608;&#1586;&#1588;&#1711;&#1575;&#1607; &#1605;&#1740; &#1711;&#1584;&#1585;&#1583; &#1578;&#1605;&#1575;&#1605; &#1607;&#1605;&#1578; &#1705;&#1575;&#1583;&#1585; &#1583;&#1576;&#1587;&#1578;&#1575;&#1606; &#1589;&#1585;&#1601; &#1575;&#1585;&#1575;&#1574;&#1607; &#1582;&#1583;&#1605;&#1575;&#1578; &#1576;&#1607; </p>
    <p align="right" class="auto-style36" dir="rtl" style="font-family: &quot;2  Homa&quot;; color: #FFFFFF; font-size: medium">
        &nbsp;&nbsp; <span class="auto-style3">
  &#1607;&#1605;&#1588;&#1607;&#1585;&#1740;&#1575;&#1606; &#1605;&#1581;&#1578;&#1585;&#1605; &#1576;&#1608;&#1583;&#1607; &#1575;&#1587;&#1578; &#1548; &#1575;&#1606;&#1588;&#1575;&#1604;&#1604;&#1607; &#1602;&#1575;&#1583;&#1585; &#1576;&#1575;&#1588;&#1740;&#1605; &#1607;&#1585; &#1670;&#1606;&#1583; &#1575;&#1606;&#1583;&#1705; &#1583;&#1585; &#1578;&#1593;&#1575;&#1604;&#1740; &#1608; &#1662;&#1740;&#1588;&#1585;&#1601;&#1578; &#1606;&#1608;&#1606;&#1607;&#1575;&#1604;&#1575;&#1606; &#1575;&#1740;&#1606; &#1605;&#1585;&#1586; &#1608; &#1576;&#1608;&#1605; &#1605;&#1608;&#1601;&#1602; &#1576;&#1575;&#1588;&#1740;&#1605;.</span></p>
    <p align="right" class="auto-style36" dir="rtl" style="font-family: &quot;2  Homa&quot;; color: #FFFFFF; font-size: medium">
        &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #CCCC00">&nbsp;&nbsp;</span><span style="color: #6600CC"> &quot;&#1576;&#1575;&#1740;&#1583; &#1583;&#1585; &#1607;&#1575;&#1740; &#1593;&#1604;&#1605; &#1576;&#1607; &#1585;&#1608;&#1740; &#1607;&#1605;&#1607; &#1576;&#1575;&#1586; &#1576;&#1575;&#1588;&#1606;&#1583;&#1548; &#1607;&#1585; &#1580;&#1575; &#1605;&#1586;&#1585;&#1593;&#1607; &#1575;&#1587;&#1578;&#1548; &#1607;&#1585;&#1580;&#1575; &#1570;&#1583;&#1605; &#1607;&#1587;&#1578;&#1548; &#1570;&#1606;&#1580;&#1575; &#1705;&#1578;&#1575;&#1576; &#1607;&#1605; &#1576;&#1575;&#1740;&#1583; &#1576;&#1575;&#1588;&#1583;.&quot;</span></p>
</span><span class="auto-style36" dir="rtl"><span class="auto-style5"><span class="auto-style3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="newStyle10">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span class="auto-style3"><span class="newStyle10">
<br />
<div dir="rtl" style="text-align: center">
    <br />
    &nbsp; </span><span class="auto-style33" style="font-family: &quot;2  Homa&quot;; font-size: x-large; color: #000080">&#1575;&#1601;&#1578;&#1582;&#1575;&#1585;&#1575;&#1578;</span><span class="newStyle10"><span class="auto-style34">:<br />
    <span class="auto-style5" style="color: #FFFFFF"><span class="auto-style36" dir="rtl" style=".">&#1602;&#1576;&#1608;&#1604;&#1740; &#1576;&#1740;&#1588; &#1575;&#1586; 47 &#1606;&#1601;&#1585; &#1575;&#1586; &#1583;&#1575;&#1606;&#1588; &#1570;&#1605;&#1608;&#1586;&#1575;&#1606; &#1583;&#1585; &#1570;&#1586;&#1605;&#1608;&#1606; &#1608;&#1585;&#1608;&#1583;&#1740; &#1575;&#1587;&#1578;&#1593;&#1583;&#1575;&#1583; &#1607;&#1575;&#1740; &#1583;&#1585;&#1582;&#1588;&#1575;&#1606;&nbsp; &#1582;&#1585;&#1583;&#1575;&#1583; &#1605;&#1575;&#1607; &#1587;&#1575;&#1604; 95&nbsp;&nbsp;<br />
    <span class="auto-style5" dir="rtl" style="color: #FFFFFF">&#1705;&#1587;&#1576; &#1605;&#1583;&#1575;&#1604; &#1606;&#1602;&#1585;&#1607; &#1585;&#1740;&#1575;&#1590;&#1740; &#1605;&#1576;&#1578;&#1705;&#1585;&#1575;&#1606; &#1705;&#1604; &#1705;&#1588;&#1608;&#1585; &#1578;&#1608;&#1587;&#1591; &#1570;&#1602;&#1575;&#1740; &quot;&#1589;&#1583;&#1585;&#1575; &#1605;&#1581;&#1576;&#1740; &quot;&#1583;&#1575;&#1606;&#1588; &#1570;&#1605;&#1608;&#1586; &#1588;&#1588;&#1605; &#1575;&#1576;&#1578;&#1583;&#1575;&#1740;&#1740;&nbsp;&nbsp;</span>
    <br />
    <span class="auto-style36" style="color: #FFFFFF"><span class="auto-style3"><span class="auto-style36" dir="rtl" style="color: #FFFFFF">&#1705;&#1587;&#1576; &#1605;&#1602;&#1575;&#1605; &#1670;&#1607;&#1575;&#1585;&#1605; &#1605;&#1587;&#1575;&#1576;&#1602;&#1575;&#1578; &#1585;&#1740;&#1575;&#1590;&#1740; &#1605;&#1606;&#1591;&#1602;&#1607; &#1575;&#1740; &#1662;&#1587;&#1585;&#1575;&#1606;&#1607; &#1588;&#1588;&#1605; &#1575;&#1576;&#1578;&#1583;&#1575;&#1740;&#1740; &#1583;&#1585; &#1575;&#1585;&#1583;&#1740;&#1576;&#1607;&#1588;&#1578; 94&nbsp;&nbsp;
    </span></span> </span>
    </span>
    </span><br />
    <span class="auto-style36" dir="rtl" style="color: #FFFFFF">&#1705;&#1587;&#1576; &#1605;&#1602;&#1575;&#1605; &#1575;&#1608;&#1604; &#1585;&#1576;&#1575;&#1578;&#1740;&#1705; &#1588;&#1588;&#1605; &#1575;&#1576;&#1578;&#1583;&#1575;&#1740;&#1740; &#1583;&#1585; &#1575;&#1585;&#1583;&#1740;&#1576;&#1607;&#1588;&#1578; 94</span></span></span></span><span class="newStyle10"><span class="auto-style5" style="color: #FFFFFF"><br class="auto-style36" />
    <span class="auto-style5" dir="rtl" style="color: #FFFFFF">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
    <table style="width: 100%">
        <tr>
            <td>
                <asp:Label ID="Label2" runat="server" Text="&#1578;&#1593;&#1583;&#1575;&#1583; &#1576;&#1575;&#1586;&#1583;&#1740;&#1583; &#1705;&#1606;&#1606;&#1583;&#1711;&#1575;&#1606; :"></asp:Label>
                <span class="newStyle10"><span class="auto-style5" style="color: #FFFFFF">
                <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>
                </span></span>
            </td>
        </tr>
        <tr>
            <td dir="rtl" style="text-align: right">
<span class="newStyle10"><span class="auto-style5" style="color: #FFFFFF" dir="ltr">
                <asp:Label ID="Label12" runat="server" Text="Label"></asp:Label>
</span></span>
            </td>
        </tr>
    </table>
    </span></span>
</div>
</asp:Content>

