<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="Default3.aspx.cs" Inherits="Default3" %>

<%-- Add content controls here --%>
<asp:Content ID="Content1" runat="server" contentplaceholderid="ContentPlaceHolder1">
    <p>
                &nbsp;</p>
<p align="center" style="font-family: '2  Homa'; font-size: x-large; color: #000080">
                &nbsp; <span class="auto-style3">&#1576;&#1585;&#1606;&#1575;&#1605;&#1607; &#1607;&#1601;&#1578;&#1711;&#1740; &#1583;&#1576;&#1587;&#1578;&#1575;&#1606;</span>&nbsp;</p>
<p>
                <br />
            </p>
            <table style="width: 100%; height: 1483px">
                <tr>
                    <td align="center" style="height: 500px">
                        <img alt="" src="images/k2.jpg" style="width: 300px; height: 424px" name="&#1576;&#1585;&#1606;&#1575;&#1605;&#1607; &#1662;&#1575;&#1740;&#1607; &#1740; &#1583;&#1608;&#1605; &#1587;&#1585;&#1705;&#1575;&#1585; &#1582;&#1575;&#1606;&#1605; &#1588;&#1740;&#1608;&#1575; &#1593;&#1604;&#1740; &#1570;&#1576;&#1575;&#1583;&#1740;" title="&#1576;&#1585;&#1606;&#1575;&#1605;&#1607; &#1662;&#1575;&#1740;&#1607; &#1740; &#1583;&#1608;&#1605; &#1587;&#1585;&#1705;&#1575;&#1585; &#1582;&#1575;&#1606;&#1605; &#1588;&#1740;&#1608;&#1575; &#1593;&#1604;&#1740; &#1570;&#1576;&#1575;&#1583;&#1740;" /></td>
                    <td align="center" style="height: 500px">
                        <img align="top" alt="" src="images/k1.jpg" style="width: 300px; height: 424px" name="&#1576;&#1585;&#1606;&#1575;&#1605;&#1607; &#1662;&#1575;&#1740;&#1607; &#1740; &#1575;&#1608;&#1604; &#1587;&#1585;&#1705;&#1575;&#1585; &#1582;&#1575;&#1606;&#1605; &#1601;&#1585;&#1588;&#1578;&#1607; &#1575;&#1740;&#1585;&#1575;&#1606;&#1740;" title="&#1576;&#1585;&#1606;&#1575;&#1605;&#1607; &#1662;&#1575;&#1740;&#1607; &#1740; &#1575;&#1608;&#1604; &#1587;&#1585;&#1705;&#1575;&#1585; &#1582;&#1575;&#1606;&#1605; &#1601;&#1585;&#1588;&#1578;&#1607; &#1575;&#1740;&#1585;&#1575;&#1606;&#1740;" /></td>
                </tr>
                <tr>
                    <td align="center" style="height: 464px">
                        <img alt="" src="images/k4.jpg" style="width: 300px; height: 424px" name="&#1576;&#1585;&#1606;&#1575;&#1605;&#1607; &#1662;&#1575;&#1740;&#1607; &#1740; &#1670;&#1607;&#1575;&#1585;&#1605; &#1580;&#1606;&#1575;&#1576; &#1570;&#1602;&#1575;&#1740; &#1585;&#1588;&#1740;&#1583; &#1585;&#1588;&#1740;&#1583;&#1740;" title="&#1576;&#1585;&#1606;&#1575;&#1605;&#1607; &#1662;&#1575;&#1740;&#1607; &#1740; &#1670;&#1607;&#1575;&#1585;&#1605; &#1580;&#1606;&#1575;&#1576; &#1570;&#1602;&#1575;&#1740; &#1585;&#1588;&#1740;&#1583; &#1585;&#1588;&#1740;&#1583;&#1740;" /></td>
                    <td align="center" style="height: 464px">
                        <img alt="" src="images/k3-1.jpg" style="width: 300px; height: 424px" name="&#1576;&#1585;&#1606;&#1575;&#1605;&#1607; &#1662;&#1575;&#1740;&#1607; &#1740; &#1587;&#1608;&#1605; &#1580;&#1606;&#1575;&#1576; &#1570;&#1602;&#1575;&#1740; &#1593;&#1576;&#1575;&#1587; &#1582;&#1604;&#1740;&#1604;&#1740;" title="&#1576;&#1585;&#1606;&#1575;&#1605;&#1607; &#1662;&#1575;&#1740;&#1607; &#1740; &#1587;&#1608;&#1605; &#1580;&#1606;&#1575;&#1576; &#1570;&#1602;&#1575;&#1740; &#1593;&#1576;&#1575;&#1587; &#1582;&#1604;&#1740;&#1604;&#1740;" /></td>
                </tr>
                <tr>
                    <td align="center">
                        <img alt="" src="images/k6.jpg" style="width: 300px; height: 424px" name="&#1576;&#1585;&#1606;&#1575;&#1605;&#1607; &#1662;&#1575;&#1740;&#1607; &#1740; &#1588;&#1588;&#1605; &#1587;&#1585;&#1705;&#1575;&#1585; &#1582;&#1575;&#1606;&#1605; &#1586;&#1607;&#1585;&#1575; &#1605;&#1581;&#1605;&#1583;&#1740;" title="&#1576;&#1585;&#1606;&#1575;&#1605;&#1607; &#1662;&#1575;&#1740;&#1607; &#1740; &#1588;&#1588;&#1605; &#1587;&#1585;&#1705;&#1575;&#1585; &#1582;&#1575;&#1606;&#1605; &#1586;&#1607;&#1585;&#1575; &#1605;&#1581;&#1605;&#1583;&#1740;" /></td>
                    <td align="center">
                        <img alt="" name="&#1576;&#1585;&#1606;&#1575;&#1605;&#1607; &#1662;&#1575;&#1740;&#1607; &#1740; &#1662;&#1606;&#1580;&#1605; &#1583;&#1576;&#1740;&#1585; &#1605;&#1585;&#1576;&#1608;&#1591;&#1607; &#1580;&#1606;&#1575;&#1576; &#1570;&#1602;&#1575;&#1740; &#1662;&#1585;&#1608;&#1740;&#1586; &#1580;&#1604;&#1740;&#1604;&#1740;" src="images/k5.jpg" style="width: 300px; height: 424px" title="&#1576;&#1585;&#1606;&#1575;&#1605;&#1607; &#1662;&#1575;&#1740;&#1607; &#1740; &#1662;&#1606;&#1580;&#1605; &#1580;&#1606;&#1575;&#1576; &#1570;&#1602;&#1575;&#1740; &#1662;&#1585;&#1608;&#1740;&#1586; &#1580;&#1604;&#1740;&#1604;&#1740; " /></td>
                </tr>
</table>
<span class="newStyle10"><span class="auto-style5" style="color: #FFFFFF">
<table style="width: 100%">
    <tr>
        <td><span class="newStyle10"><span class="auto-style5" style="color: #FFFFFF" dir="rtl">
            <asp:Label ID="Label11" runat="server" Text="Label"></asp:Label>
            </span></span>
            <asp:Label ID="Label10" runat="server" Text=":&#1578;&#1593;&#1583;&#1575;&#1583; &#1576;&#1575;&#1586;&#1583;&#1740;&#1583; &#1705;&#1606;&#1606;&#1583;&#1711;&#1575;&#1606;"></asp:Label>
        </td>
    </tr>
    <tr>
        <td>
            <asp:Label ID="Label12" runat="server" Text="Label"></asp:Label>
        </td>
    </tr>
</table>
</span></span>
        </asp:Content>

