<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="Default5.aspx.cs" Inherits="Default5" %>

<%-- Add content controls here --%>
<asp:Content ID="Content1" runat="server" contentplaceholderid="ContentPlaceHolder1">
    <p>
                <br />
            </p>
            <p align="center" dir="rtl" style="font-family: &quot;2  Homa&quot;; font-size: x-large; color: #000080">
                &#1606;&#1605;&#1575;&#1740;&#1740; &#1575;&#1586; &#1583;&#1576;&#1587;&#1578;&#1575;&#1606; &#1606;&#1587;&#1604; &#1602;&#1604;&#1605;</p>
<p align="center" dir="rtl" style="font-family: &quot;2  Homa&quot;; font-size: x-large; color: #000080">
                &nbsp;</p>
    <table style="width: 100%">
        <tr>
            <td rowspan="2">
                <img align="middle" alt="" src="images/ata2.jpg" style="width: 300px; height: 645px" /></td>
            <td colspan="2" style="height: 154px">
                <img align="middle" src="images/IMG_0764.PNG" style="width: 569px; height: 333px" /></td>
        </tr>
        <tr>
            <td style="height: 124px">
                <img src="images/ata33.jpg" style="width: 270px; height: 313px" /></td>
            <td rowspan="2">
                <img align="middle" alt="" src="images/a2c03727eaab478330bd7446031757bc.jpg" style="width: 300px; height: 687px" /></td>
        </tr>
        <tr>
            <td colspan="2" style="height: 144px">
                <img src="images/IMG_0077.JPG" style="width: 574px; height: 373px" /></td>
        </tr>
</table>
<p>
                &nbsp;</p>
    <span class="newStyle10"><span class="auto-style5" style="color: #FFFFFF">
    <table style="width: 100%">
        <tr>
            <td>
                <asp:Label ID="Label2" runat="server" Text="&#1578;&#1593;&#1583;&#1575;&#1583; &#1576;&#1575;&#1586;&#1583;&#1740;&#1583; &#1705;&#1606;&#1606;&#1583;&#1711;&#1575;&#1606; :"></asp:Label>
                <span class="newStyle10"><span class="auto-style5" style="color: #FFFFFF">
                <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>
                </span></span>
            </td>
        </tr>
        <tr>
            <td dir="rtl" style="text-align: right">
<span class="newStyle10"><span class="auto-style5" style="color: #FFFFFF" dir="ltr">
                <asp:Label ID="Label12" runat="server" Text="Label"></asp:Label>
</span></span>
            </td>
        </tr>
    </table>
    </span></span>
</asp:Content>

