<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="Default4.aspx.cs" Inherits="Default4" %>

<%-- Add content controls here --%>
<asp:Content ID="Content1" runat="server" contentplaceholderid="ContentPlaceHolder1">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="auto-style3"><span class="auto-style6" style="font-family: '2  Homa'; font-size: xx-large; color: #000066;">&#1575;&#1591;&#1604;&#1575;&#1593;&#1575;&#1578; &#1662;&#1585;&#1587;&#1606;&#1604;&nbsp;&#1570;&#1605;&#1608;&#1586;&#1588;&#1711;&#1575;&#1607;</span></span><span style="color: #000066; font-size: xx-large">&nbsp;&nbsp;</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <br >
    
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
    <br />
    <table style="width: 100%; height: 787px">
        <tr>
            <td align="right" style="font-family: '2  Homa'; color: #FFFFFF; font-size: medium; height: 47px;">&#1580;&#1606;&#1575;&#1576; &#1570;&#1602;&#1575;&#1740; &#1593;&#1604;&#1740; &#1593;&#1604;&#1740; &#1662;&#1608;&#1585;&nbsp; &#1583;&#1705;&#1578;&#1585;&#1740; &#1585;&#1608;&#1575;&#1606;&#1588;&#1606;&#1575;&#1587;&#1740; &#1705;&#1608;&#1583;&#1705;&#1575;&#1606; &#1576;&#1575; &#1587;&#1575;&#1576;&#1602;&#1607; 10 &#1587;&#1575;&#1604; &#1605;&#1583;&#1740;&#1585;&#1740;&#1578; &#1608; 8 &#1587;&#1575;&#1604; &#1605;&#1593;&#1604;&#1605;&#1740;</td>
            <td align="center" style="height: 47px">
                <img alt="" src="images/khashabi.jpg" style="width: 120px; height: 85px" /></td>
        </tr>
        <tr>
            <td style="text-align: right; height: 105px"><span class="newStyle14"><span class="auto-style7">&#1605;&#1593;&#1575;&#1608;&#1606; &#1583;&#1576;&#1587;&#1578;&#1575;&#1606; &#1587;&#1585;&#1705;&#1575;&#1585; &#1582;&#1575;&#1606;&#1605; &#1586;&#1607;&#1585;&#1575; &#1605;&#1581;&#1605;&#1583;&#1740; &#1604;&#1740;&#1587;&#1575;&#1606;&#1587;&nbsp;&#1593;&#1604;&#1608;&#1605; &#1578;&#1585;&#1576;&#1740;&#1578;&#1740; &#1576;&#1575; &#1587;&#1575;&#1576;&#1602;&#1607; &#1740; 8 &#1587;&#1575;&#1604; &#1605;&#1593;&#1575;&#1608;&#1606;&#1578;&nbsp;&nbsp; </span></span></td>
            <td align="center" style="height: 105px">
                <img alt="" src="images/IMG_0040.jpg" style="width: 120px; height: 90px" /></td>
        </tr>
        <tr>
            <td style="text-align: right; height: 101px"><span class="newStyle10"><span class="auto-style10"><span class="auto-style7" style="font-family: '2  Homa'; font-size: medium; color: #FFFFFF">&#1583;&#1576;&#1740;&#1585; &#1605;&#1581;&#1578;&#1585;&#1605; &#1587;&#1585;&#1705;&#1575;&#1585; &#1582;&#1575;&#1606;&#1605; &#1588;&#1740;&#1608;&#1575; &#1593;&#1604;&#1740; &#1570;&#1576;&#1575;&#1583;&#1740; &#1576;&#1575; &#1576;&#1740;&#1588; &#1575;&#1586; 5 &#1587;&#1575;&#1604; &#1587;&#1575;&#1576;&#1602;&#1607; &#1605;&#1593;&#1604;&#1605;&#1740; &#1608; 2&#1587;&#1575;&#1604; &#1587;&#1575;&#1576;&#1602;&#1607; &#1605;&#1593;&#1575;&#1608;&#1606;&#1740;</span></span></span></td>
            <td align="center" style="height: 101px">
                <img alt="" src="images/Maryam_Mostafavi_24713.jpg" style="width: 120px; height: 92px" /></td>
        </tr>
        <tr>
            <td style="text-align: right; height: 104px; font-family: '2  Homa'; font-size: medium; color: #FFFFFF;" class="auto-style6"><span style="font-size: medium; color: #FFFFFF">&#1583;&#1576;&#1740;&#1585; &#1605;&#1581;&#1578;&#1585;&#1605; &#1587;&#1585;&#1705;&#1575;&#1585; &#1582;&#1575;&#1606;&#1605; &#1605;&#1607;&#1587;&#1575;</span><span class="newStyle10"><span class="auto-style3"><span class="auto-style7"> &#1580;&#1604;&#1740;&#1604;&#1740; &#1604;&#1740;&#1587;&#1575;&#1606;&#1587; &#1585;&#1740;&#1575;&#1590;&#1740; &#1705;&#1575;&#1585;&#1576;&#1585;&#1583;&#1740; &#1576;&#1575; &#1587;&#1575;&#1576;&#1602;&#1607; &#1740; 25 &#1587;&#1575;&#1604; &#1582;&#1583;&#1605;&#1578; &#1583;&#1585; &#1570;&#1605;&#1608;&#1586;&#1588; &#1608; &#1662;&#1585;&#1608;&#1585;&#1588;</span></span></td>
            <td style="height: 104px" align="center">
                <img src="images/169.jpg" style="width: 120px; height: 102px" /></td>
        </tr>
        <tr>
            <td style="text-align: right; height: 111px"><span class="newStyle10" style="font-size: medium"><span class="auto-style3"><span class="auto-style7" style="font-family: '2  Homa'; font-size: medium; color: #FFFFFF">&#1580;&#1606;&#1575;&#1576; &#1570;&#1602;&#1575;&#1740; &#1593;&#1576;&#1575;&#1587; &#1582;&#1604;&#1740;&#1604;&#1740; &#1604;&#1740;&#1587;&#1575;&#1606;&#1587; &#1586;&#1740;&#1587;&#1578; &#1588;&#1606;&#1575;&#1587;&#1740; &#1576;&#1575; &#1587;&#1575;&#1576;&#1602;&#1607; &#1740; 12 &#1587;&#1575;&#1604; &#1705;&#1575;&#1585; &#1583;&#1585; &#1605;&#1583;&#1575;&#1585;&#1587; &#1605;&#1582;&#1578;&#1604;&#1601; &#1575;&#1740;&#1585;&#1575;&#1606;</span></span></span></td>
            <td style="height: 111px" align="center">
                <img src="images/&#1585;&#1740;&#1575;&#1590;&#1740;-&#1575;&#1606;&#1587;&#1575;&#1606;&#1740;3.jpg" style="width: 120px; height: 113px" /></td>
        </tr>
        <tr>
            <td style="text-align: right; height: 99px"><span class="newStyle10"><span class="auto-style3"><span class="auto-style7
            " style="font-family: '2  Homa'; font-size: medium; color: #FFFFFF">&#1587;&#1585;&#1705;&#1575;&#1585; &#1582;&#1575;&#1606;&#1605; &#1601;&#1585;&#1588;&#1578;&#1607; &#1575;&#1740;&#1585;&#1575;&#1606;&#1740; &#1604;&#1740;&#1587;&#1575;&#1606;&#1587; &#1593;&#1604;&#1608;&#1605; &#1578;&#1585;&#1576;&#1740;&#1578;&#1740;&nbsp; &#1576;&#1575; &#1587;&#1575;&#1576;&#1602;&#1607; &#1740; 5 &#1587;&#1575;&#1604; &#1605;&#1583;&#1740;&#1585; &#1605;&#1607;&#1583;&#1705;&#1608;&#1583;&#1705; &#1608; 2&#1587;&#1575;&#1604; &#1605;&#1593;&#1604;&#1605;&#1740; </span></span></span></td>
            <td align="center" style="height: 99px">
                <img alt="" src="images/rahimzade.jpg" style="width: 120px; height: 117px" /></td>
        </tr>
        <tr>
            <td style="text-align: right; height: 107px"><span class="newStyle10"><span class="auto-style3"><span class="auto-style7" style="font-family: '2  Homa'; font-size: medium; color: #FFFFFF">&#1580;&#1606;&#1575;&#1576; &#1570;&#1602;&#1575;&#1740; &#1585;&#1588;&#1740;&#1583; &#1585;&#1588;&#1740;&#1583;&#1740; &#1604;&#1740;&#1587;&#1575;&#1606;&#1587; &#1593;&#1604;&#1608;&#1605; &#1705;&#1575;&#1585;&#1576;&#1585;&#1583;&#1740; &#1576;&#1575;&#1587;&#1575;&#1576;&#1602;&#1607; 20 &#1587;&#1575;&#1604;&nbsp; &#1582;&#1583;&#1605;&#1578; &#1583;&#1585; &#1570;&#1605;&#1608;&#1586;&#1588; &#1608; &#1662;&#1585;&#1608;&#1585;&#1588; </span></span></td>
            <td style="height: 107px" align="center">
                <img src="images/&#1586;&#1576;&#1575;&#1606;.jpg" style="width: 120px; height: 119px" /></td>
        </tr>
        <tr>
            <td style="height: 99px; text-align: right"><span class="newStyle10"><span class="auto-style3"><span class="auto-style7" style="font-family: '2  Homa'; font-size: medium; color: #FFFFFF">&#1580;&#1606;&#1575;&#1576; &#1570;&#1602;&#1575;&#1740; &#1593;&#1591;&#1575;&#1575;&#1604;&#1604;&#1607; &#1576;&#1575;&#1576;&#1575;&#1740;&#1740; &#1601;&#1608;&#1602; &#1604;&#1740;&#1587;&#1575;&#1606;&#1587; &#1585;&#1740;&#1575;&#1590;&#1740;&#1575;&#1578; &#1576;&#1575;&#1587;&#1575;&#1576;&#1602;&#1607; 2 &#1587;&#1575;&#1604;&nbsp; &#1582;&#1583;&#1605;&#1578; &#1583;&#1585; &#1570;&#1605;&#1608;&#1586;&#1588; &#1608; &#1662;&#1585;&#1608;&#1585;&#1588;</span> </span></span></td>
            <td style="height: 99px" align="center">
                <img src="images/1-1.jpg" style="width: 120px; height: 120px" /></td>
        </tr>
    </table>
    <br />
    <br />
    <table style="width: 100%">
        <tr>
            <td align="center" style="font-family: &quot;2  Homa&quot;; font-size: large; color: #000080">نظر سنجی سایت ما<br />
                <div style="font-weight: 700">
                    <asp:ScriptManager ID="ScriptManager1" runat="server">
                    </asp:ScriptManager>
                    <asp:UpdatePanel ID="UpdatePanel1" runat="server">
                        <ContentTemplate>
                            <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
                            &nbsp;&nbsp;
                            <asp:Button ID="Button1" runat="server" Font-Italic="True" OnClick="Button1_Click" Text="نظر دهید" />
                            &nbsp;&nbsp;
                            <asp:Label ID="Label1" runat="server"></asp:Label>
                
                <br />
                <br />
                
                        </ContentTemplate>
                    </asp:UpdatePanel>
                </div>
            </td>
        </tr>
    </table>
    <br />
    <br />
    <br />
            <span class="newStyle10"><span class="auto-style5" style="color: #FFFFFF">
            <table style="width: 100%">
                <tr>
                    <td style="text-align: right"><span class="newStyle10"><span class="auto-style5" style="color: #FFFFFF" dir="rtl">
                        <asp:Label ID="Label10" runat="server" Text="&#1578;&#1593;&#1583;&#1575;&#1583; &#1576;&#1575;&#1586;&#1583;&#1740;&#1583; &#1705;&#1606;&#1606;&#1583;&#1711;&#1575;&#1606; :"></asp:Label>
                        <span class="auto-style5" style="color: #FFFFFF">
                        <asp:Label ID="Label11" runat="server" Text="Label"></asp:Label>
            </span>
            </span></span>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right">
                        <asp:Label ID="Label12" runat="server" Text="Label"></asp:Label>
                    </td>
                </tr>
            </table>
            </span></span>
            </asp:Content>

